.restaurant_mneu_frame {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  align-items: center;
  padding-bottom: 80px;
  background: #2c261e;
}

.restaurant_mneu_frame .restaurant_container {
  position: relative;
  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.restaurant_container .dish_table {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.spec_select {
    position: relative;
    padding: 0px 7px;
    height: 27px;
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    font-family: "GT Walshein Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #4f547b;
}

.restaurant_container .dish_container {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: auto;

    display: none;
    flex-direction: column;
    align-items: center;
}

.long_input {
    position: relative;
    margin-top: 25px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.new_dish_txt {
    font-family: "Source Serif Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 25px;
    color: #ffffff;
    margin-bottom: 30px;
  }